%svg{:version => "1.1", :xmlns => "http://www.w3.org/2000/svg"}
    %filter#blur
        %fegaussianblur{:stddeviation => "10"}
.h
    %h1 Purple Haze
    %h2 Css only smoke effect
    -(1..60).each do
        .c
        